day 1 python warnup for transportation data

create a small darasert of bus trups

In [ ]:
import pandas as pd

In [ ]:
data = {
    "ROUTE":["X1","X2","X1","X2"],
    "STOP":["A","B" ,"B" ,"A" ],
    "TRAVEL_TIME_MIN":[12,13,22,11]
}

In [ ]:
#average travel time per route
df = pd.DataFrame(data)

In [ ]:
avg_travel_time = df.groupby("STOP")["TRAVEL_TIME_MIN"].mean()

In [ ]:
print("average avg_travel_time per route in min::",avg_travel_time)

average avg_travel_time per route in min:: STOP
A    11.5
B    17.5
Name: TRAVEL_TIME_MIN, dtype: float64

what i lernt today:
hoe to write basic python code
how to create and group data (transport)
next step tom is to rad a csv file

DAY 2 READING AND EXPLORING TRANSPORT DATA!!

In [ ]:
import pandas as pd

In [ ]:
url = "https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv"

In [ ]:
df = pd.read_csv(url)
print("data loaded successfully")

data loaded successfully

In [ ]:
print("preview")
print(df.head())

preview
  code       state category  total exports   beef  pork  poultry   dairy  \
0   AL     Alabama    state        1390.63   34.4  10.6    481.0    4.06
1   AK      Alaska    state          13.31    0.2   0.1      0.0    0.19
2   AZ     Arizona    state        1463.17   71.3  17.9      0.0  105.48
3   AR    Arkansas    state        3586.02   53.2  29.4    562.9    3.53
4   CA  California    state       16472.88  228.7  11.1    225.4  929.95

   fruits fresh  fruits proc  total fruits  veggies fresh  veggies proc  \
0           8.0         17.1         25.11            5.5           8.9
1           0.0          0.0          0.00            0.6           1.0
2          19.3         41.0         60.27          147.5         239.4
3           2.2          4.7          6.88            4.4           7.1
4        2791.8       5944.6       8736.40          803.2        1303.5

   total veggies  corn  wheat   cotton
0          14.33  34.9   70.0   317.61
1           1.56   0.0    0.0     0.00
2         386.91   7.3   48.7   423.95
3          11.45  69.5  114.5   665.44
4        2106.79  34.6  249.3  1064.95

In [ ]:
#check data stuructiure
print('info')
print(df.info())

info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   code           50 non-null     object
 1   state          50 non-null     object
 2   category       50 non-null     object
 3   total exports  50 non-null     float64
 4   beef           50 non-null     float64
 5   pork           50 non-null     float64
 6   poultry        50 non-null     float64
 7   dairy          50 non-null     float64
 8   fruits fresh   50 non-null     float64
 9   fruits proc    50 non-null     float64
 10  total fruits   50 non-null     float64
 11  veggies fresh  50 non-null     float64
 12  veggies proc   50 non-null     float64
 13  total veggies  50 non-null     float64
 14  corn           50 non-null     float64
 15  wheat          50 non-null     float64
 16  cotton         50 non-null     float64
dtypes: float64(14), object(3)
memory usage: 6.8+ KB
None

In [ ]:
# stat for numeric coml
print('describe')
print(df.describe())

describe
       total exports        beef         pork     poultry       dairy  \
count      50.000000   50.000000    50.000000   50.000000   50.000000
mean     2728.889000  108.394000   122.282000  112.700000   95.725200
std      3144.837608  193.762904   303.492907  162.878644  168.016886
min        13.310000    0.100000     0.000000    0.000000    0.190000
25%       465.142500   13.400000     0.525000    2.950000    6.980000
50%      1822.950000   41.050000    16.800000   33.550000   32.165000
75%      3768.665000  106.725000    84.975000  162.425000  101.535000
max     16472.880000  961.000000  1895.600000  630.400000  929.950000

       fruits fresh  fruits proc  total fruits  veggies fresh  veggies proc  \
count      50.00000    50.000000      50.00000      50.000000     50.000000
mean       90.05000   191.736000     281.79000      44.428000     72.102000
std       402.16488   856.334256    1258.49891     116.513625    189.088833
min         0.00000     0.000000       0.00000       0.000000      0.000000
25%         2.12500     4.550000       6.67000       4.325000      6.950000
50%         4.80000    10.300000      15.11000      12.500000     20.350000
75%        25.30000    53.925000      79.24000      45.700000     74.175000
max      2791.80000  5944.600000    8736.40000     803.200000   1303.500000

       total veggies         corn        wheat      cotton
count      50.000000    50.000000    50.000000    50.00000
mean      116.523800   273.042000   222.824000   169.32500
std       305.615222   556.824919   362.291291   402.92782
min         0.000000     0.000000     0.000000     0.00000
25%        11.232500     5.875000     8.500000     0.00000
50%        32.910000    37.200000    78.100000     0.00000
75%       119.845000   182.175000   248.725000   102.46500
max      2106.790000  2529.800000  1664.500000  2308.76000

In [ ]:
print("total rows ",len(df))

total rows  50

mmissing value finding11

In [ ]:
print("missing values")
print(df.isnull().sum())

missing values
code             0
state            0
category         0
total exports    0
beef             0
pork             0
poultry          0
dairy            0
fruits fresh     0
fruits proc      0
total fruits     0
veggies fresh    0
veggies proc     0
total veggies    0
corn             0
wheat            0
cotton           0
dtype: int64

In [ ]:
columns available_

In [ ]:
print("colunmns avaliable")
print(df.columns.tolist())

colunmns avaliable
['code', 'state', 'category', 'total exports', 'beef', 'pork', 'poultry', 'dairy', 'fruits fresh', 'fruits proc', 'total fruits', 'veggies fresh', 'veggies proc', 'total veggies', 'corn', 'wheat', 'cotton']

things learned today
=import data'
view and summarise the data!
missing value check